body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5dc; /* cream */
  color: #3b2f2f;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #fffaf0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #3b2f2f;
}

/* HOME */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px;
}

.home-text h1 span {
  color: #c19a6b;
}

.home-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #d2b48c;
  object-fit: cover;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #d2b48c;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

/* SECTIONS */
section {
  padding: 60px;
  text-align: center;
}

/* SKILLS */
.skills-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background: #fffaf0;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* PROJECTS */
.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background: #fffaf0;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px;
  background: #c19a6b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}